html{
  background-color: #021504!important;
  color: #F4EBDA!important;
}

#finder_body{
  background-color: #021504!important;
 }

 #finder{
  display: flex!important;
  justify-content: center!important;
 }

 #finder select{
  background-color: #112213!important;
  color: #F2E9D8!important;
  border-radius: 0!important;
  border-color: #424D43!important;
  height: 40px!important;
 }

 #storeType, #finder_BFBRCD{
  width: 400px;
 }

 #finder_body .submitBtn{
  background-color: #CD753C!important;
  color: #F4EBDA!important;
 }

 #finder_form{
  border: none;
 }

#submitBtn{
  padding: 8px 32px!important;
  font-size: 24px;
  background-color: #CD753C;
  color: #F4EBDA;
  text-transform: uppercase;
  margin-left: 9px;
  border: none;
}

#vipcopyright{
  display: none!important
}

legend{
  display: none;
}

form{
  font-size: 0;
}

select, input{
  font-size: 18px;
  font-family: "noort", Sans-serif;
}

select{
  margin-right: 20px;
}

#finder_results{
  display: flex;
  border: none;
}

#map_canvas{
  flex: 2;
  margin-right: 30px;
}

#panel_search_results{
  flex: 1;
}

.finder_num{
  color: #CD753C;
  font-size: 40px;
}

.finder_num span{
  margin-right: 25px;
}

#finder_zip{
  background-color: #112213!important;
  color: #F2E9D8!important;
  border: none;
  text-align: center;
  min-width: 100px;
}

#finder_table thead{
  display:none;
}

#finder_table{
  border: none;
}

.finder_address a{
  color: #F4EBDA;
  font-size: 15px;
}

.finder_dba_text{
  font-size: 18px;
}

.finder_phone{
  display: none;
}

.finder_dba_text{
  text-transform: lowercase!important;
}

.finder_dba_text::first-letter{
  text-transform: capitalize!important;
}

.finder_miles{
  background: transparent!important;
  color: #F4EBDA;
  opacity: 50%;
  padding: 10px;
}

.finder_brand_list li{
  list-style-type: none!important;
  font-size: 16px;
  color: #F4EBDA;
  margin-bottom: 8px;
}

.finder_brand_list li{
  background: #CD753C;
  font-size: 16px!important;
  padding: 2px;
  color: #F4EBDA!important;
}

.finder-moreitems a{
  color: #F4EBDA!important;
  font-size: 16px;
}

.finder_location{
  display: flex;
 flex-direction: column;
}
}
